.loader {
    display: flex;
    justify-content: center;
    justify-self: center;
    /* margin-left: 15.5rem; */
    width: 3rem;
    height: 2rem;
    --g: radial-gradient(farthest-side,#070707 calc(90% - 3px),#767974 calc(100% - 3px) 98%,#00000000 101%) no-repeat;
    background: var(--g), var(--g), var(--g);
    background-size: 10px 10px;
    animation: l9 1s infinite alternate;
    
  }
  .video {
    height: 2rem;

  }
  @keyframes l9 {
    0% {
      background-position: 0 50%, 50% 50%, 100% 50%;
    }
    20% {
      background-position: 0 0, 50% 50%, 100% 50%;
    }
    40% {
      background-position: 0 100%, 50% 0, 100% 50%;
    }
    60% {
      background-position: 0 50%, 50% 100%, 100% 0;
    }
    80% {
      background-position: 0 50%, 50% 50%, 100% 100%;
    }
    100% {
      background-position: 0 50%, 50% 50%, 100% 50%;
    }
  }